@import "./variables.scss";
@import "./global-styles.scss";
@import "./animations.scss";
@import "./header.scss";
@import "./product-card.scss";
@import "./home-page.scss";
@import "./register.scss";
@import "./footer.scss";
@import "./training-page.scss";

.front-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&-main {
		flex: 1;
	}
}
