@import "./variables.scss";
@import "./header.scss";
@import "./product-card.scss";
@import "./home-page.scss";
@import "./register.scss";
@import "./footer.scss";
<<<<<<< HEAD
@import "./form-page.scss";
@import "./training-page.scss";
=======
>>>>>>> c6e0d3585f26f3097384d1fd5af01719407b6b60

.front-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&-main {
		flex: 1;
	}
}
