footer {
	background: #1e3856;
	color: white;
	padding-bottom: 2em;

	i {
		font-size: 1.5rem;
		margin-right: 0.4em;
		cursor: pointer;
	}

	.footer-top {
		padding: 1em 0;

		p {
			font-weight: 400;
			font-size: 16px;
		}
		.footer-logo {
			padding: 3em 0;
		}
		.footer-navs {
			text-align: center;
		}
		.contact-wrapper {
			p {
				margin-bottom: 0;
			}
		}
		.copyright {
			border-top: 1px solid white;
			padding: 0;
		}

		.socials-wrapper {
			a {
				color: white;
			}
		}

		.footer-navs-detail {
			margin-bottom: 3em;
		}

		@media screen and (min-width: 993px) {
			.footer-logo,
			.contact-wrapper {
				justify-content: left;
			}
			.footer-logo {
				margin-left: 0;
			}
			.footer-navs {
				display: flex;
				justify-content: space-between;
				gap: 1.8em;
				flex-wrap: wrap;
				text-align: inherit;

				&-detail {
					margin-bottom: 0;
				}
			}
			.socials-wrapper {
				justify-content: left;
			}
		}
	}

	.copyright {
		border-top: 1.8px solid white;
		padding-top: 1.2em;
	}
}
