.formPage {
	margin-top: 15vh;
	text-align: center;

	.formPageContainer {
		display: flex;
		justify-content: center;

		.formPageText {
			width: 40%;
			align-self: center;
			justify-content: center;
			align-self: center;
			justify-self: center;

			@media screen and (max-width: 1400px) {
				width: 75%;
			}

			h2 {
				margin-bottom: 2rem;
			}
		}
	}
}
