.header {
	backdrop-filter: blur(5px);
	color: white;
	z-index: 2;

	.nav {
		gap: 0.5em;
		&-link {
			color: $primary;
			border-bottom: 1.5px solid transparent;
			&:hover {
				border-color: inherit;
			}
			&.nav-contact-btn {
				background: $secondary;
				color: white;
				border-radius: 8px;
			}
		}

		&.abs {
			background: $secondary;
			position: absolute;
			padding: 1em;
			padding-right: 2em;
			top: 0;
			width: 100%;
			height: 100vh;
			flex-direction: column;
			gap: 2em;
			// margin-left: auto;

			a {
				display: inline;
				// font-size: 1.4rem;
			}
		}
	}

	.btn {
		border: 0;
		color: inherit;
	}

	&.scrolled {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: rgba(white, 0.8);
		// box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
	}

	.fas {
		font-size: 2em;
	}
}
