.hero {
	width: 100%;
	height: 85vh;
	background: url("/images/hero4.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-position: center center;
	background-color: #00000099;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $light;
	background-position-y: top;

	&__content {
		text-align: center;

		&-buttons {
			display: flex;
			gap: 2rem;
			justify-content: center;
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

		&-buttons .btn_1 {
			background-color: $primary;
			color: $light;
			border: 1px solid $primary;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 20px 35px;
			border-radius: 8px;
			position: static;
			width: 122px;
			height: 43px;
			left: 0px;
			top: 0px;
		}

		&-buttons .btn_2 {
			background-color: transparent;
			border: 2px solid $light;
			color: $light;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 20px 35px;
			border-radius: 8px;
			width: 122px;
			height: 43px;
			left: 0px;
			top: 0px;
		}
	}

	&__content-h1 {
		font-size: 50px;
		margin-top: 150px;
		margin-bottom: 20px;
		letter-spacing: 1px;
		font-weight: 200;
	}
}

.about {
	padding: 120px 0;
	width: 100%;
	min-height: 100vh;
	background-color: $info;
	margin-bottom: 0.5rem;

	&__h4 h2 {
		font-size: 40px;
		font-weight: 600;
		width: 100%;
		text-align: center;
		margin-bottom: 4rem;
		color: $primary;
		text-transform: uppercase;
	}

	.about__lead {
		//height: 75vh;
		width: 100%;
		display: flex;
		// background-color: blue;
		flex-direction: column;

		@media screen and (min-width: 1024px) {
			align-items: center;
			flex-direction: row;
		}

		.about__left {
			// background-color: red;
			margin-bottom: 2rem;
			flex: 1;

			h4 {
				color: $black;
				font-size: 30px;
				font-weight: 200;
				margin-bottom: 2rem;
			}

			p {
				font-size: 18px;
				color: $silver;
				font-weight: 100;
				line-height: 2;
			}

			button {
				background-color: $primary;
				border: 1px solid $primary;
				color: $light;
				margin-top: 2rem;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 20px 35px;
				border-radius: 8px;
				position: static;
				width: 122px;
				height: 43px;
				left: 0px;
				top: 0px;
			}
		}

		.about__right {
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}
	}
}

.train {
	width: 100%;
	min-height: 100vh;
	padding: 120px 0;

	&__h1 h1 {
		font-size: 40px;
		font-weight: 600;
		width: 100%;
		text-align: center;
		margin-bottom: 3rem;
		color: $primary;
		text-align: center;
	}

	&__cards {
		background: url("/images/Group\ 1180.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
		}

		@media screen and (min-width: 1024px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 3rem;
		}
	}

	&__card {
		margin-left: auto;
		margin-right: auto;
	}

	&__section {
		background-color: $info;
		height: 17rem;
		max-width: 20rem;
		width: 100%;
		border-radius: 10px;
		padding: 20px 40px;
		margin-top: 2rem;
		text-align: left;
		box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
			0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
		display: flex;
		flex-direction: column;
	}

	&__heading h6 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__text {
		color: $silver;
		font-size: 12px;
		line-height: 1.5;
	}

	&__btn {
		background-color: $success;
		border: 1px solid $success;
		color: $light;
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20px 35px;
		border-radius: 8px;
		position: static;
		width: 90px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
}

.show {
	width: 100%;
	min-height: 500px;
	background-color: $secondary;
	display: flex;
	justify-content: center;
	color: $light;

	&__content h1 {
		padding-top: 3rem;
		font-size: 40px;
		font-weight: 600;
	}

	&__card {
		background: $success;
		color: rgb(216, 215, 215);
		padding: 80px 40px;
		margin: 2rem 2rem;

		@media screen and (min-width: 920px) {}

		&-h6 {
			font-size: 12px;
			font-weight: 300;
			letter-spacing: 3px;
			margin-bottom: 10px;
		}

		&-h4 {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 10px;
		}

		&-text {
			font-size: 15px;
			letter-spacing: 1px;
			line-height: 20px;
		}
	}
}

.portfolio {
	width: 100%;
	min-height: 600px;
	position: relative;
	// background-color: cyan;
	justify-content: center;

	&__section {
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 2;
		flex-direction: column;
		gap: 3rem;

		@media screen and (min-width: 960px) {
			flex-direction: row;
		}
	}

	&__content {
		h6 {
			color: $black;
			text-align: center;
			padding-top: 4rem;
			text-transform: uppercase;
			letter-spacing: 14px;
			font-weight: 400;

			@media screen and (min-width: 960px) {
				font-weight: 400;
				font-size: 17px;
				text-transform: uppercase;
				letter-spacing: 14px;
			}
		}

		h3 {
			color: $primary;
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 4px;
			text-shadow: 0 8px rgba(0, 0, 0, 0.05);
			text-align: center;
			padding-bottom: 2rem;
		}
	}



	&__card {
		// background-color: green;
		text-align: center;
		padding-bottom: 15px;

		img {
			width: 100%;
			height: auto;
			border-radius: 1rem;
		}
	}

	&__card-name {
		font-size: 18px;
		text-align: center;
	}

	&__card-expert {
		color: $silver;
		font-size: 14px;
		text-align: center;
	}
}

.blank {
	width: 100%;
	height: 200px;
	background: $info;
}

.contact {
	background-color: $light;
	width: 100%;
	height: 80vh;
	//   align-content: center;

	&__header {
		font-size: 40px;
		font-weight: 600;
		width: 100%;
		text-align: center;
		margin-bottom: 3rem;
		color: $primary;
		margin-top: 5rem;
		text-shadow: 0 8px rgba(0, 0, 0, 0.05);
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		input {
			width: 100%;
			max-width: 54rem;
			padding: 10px;
			height: 65px;
			top: 212px;
			background: #f2f9ff;
			border: 0;
			margin-top: 1rem;
			margin-bottom: 1rem;
			box-shadow: 12px 11px 6px rgba(0, 0, 0, 0.1);
		}

		textarea {
			width: 100%;
			max-width: 54rem;
			padding: 10px;
			height: 170px;
			top: 212px;
			background: #f2f9ff;
			border: 0;
			margin-top: 1rem;
			margin-bottom: 1rem;
			box-shadow: 12px 11px 6px rgba(0, 0, 0, 0.1);
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		background-color: $primary;
		border: 1px solid $primary;
		color: $light;
		margin-top: 2rem;
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 35px;
		border-radius: 8px;
		position: static;
		width: 122px;
		height: 43px;
		left: 0px;
		top: 0px;
	}
}

.footer {
	background-color: $secondary;
	width: 100%;
	padding-top: 6rem;
	margin-top: 3rem;

	&__img-logo {
		width: 150px;
		height: 40px;
		margin-bottom: 3rem;
	}

	.footer-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		@media screen and (min-width: 960px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__header {
		font-weight: 600;
		color: $light;
		padding-bottom: 1rem;
	}

	&__text {
		font-size: 10px;
		color: $light;
		line-height: 2.5;
	}

	&__col-3-d {
		span {
			display: flex;
			margin-bottom: 1rem;
			margin-right: 2rem;
		}
	}

	&__img {
		height: 30px;
	}

	&__img-media {
		height: 30px;
		margin-top: 2rem;
	}

	&__hrv {
		border: 0.5px solid $light;
		width: 100%;
		margin-top: 2rem;
	}

	&__text-copy {
		font-size: 14px;
		color: $light;
		text-align: center;
		margin-top: 0.5rem;
	}
}