.spinner {
	min-height: 100vh;
	background: #0a1828;
	display: flex;
	align-items: center;
	justify-content: center;
}

.events-alert {
	font-size: 0.9rem;
	border-radius: 0;
	margin-bottom: 0;
	background: rgba(22, 42, 62, 0.79);
	a {
		color: white;
		font-weight: bold;
		&:hover {
			text-decoration: none;
		}
	}
}

.landing-page {
	color: $primary;
	h3 {
		color: $primary;
	}
	img {
		width: 100%;
		height: 100%;
	}

	.section-title {
		// padding-top: 1.5em;
		padding-bottom: 0.4em;
		font-weight: 700;
		font-size: 2.5rem;
	}

	// scoped styles
	.home-hero {
		min-height: 80vh;

		position: relative;
		background: linear-gradient(rgba(22, 42, 62, 0.79), rgba(22, 42, 62, 0.79));

		.hero-bg {
			position: absolute;
			top: 0;

			z-index: -1;
		}

		.hero-cta {
			// border: 1px solid $secondary;
			background: $secondary;
			color: white;
			border: none;
			outline: none;
			font-weight: 700;
			font-size: 1.2rem;
			padding: 16px 32px;
			// width: 250px;
			// height: 60px;
			border-radius: 4px;
		}

		&-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 1em;
			padding-top: 3em;

			h4 {
				font-weight: 700;
				font-size: 35px;
				line-height: 185.69%;
				letter-spacing: -0.005em;
				@media screen and (min-width: 800px) {
					font-size: 55px;
				}
			}
		}
	}

	.about-us {
		background: #f2f9ff;

		// border: 1px solid red;
		&-inner {
			&-desc {
				margin-bottom: 3em;
			}
		}

		@media screen and (min-width: 800px) {
			padding-right: 0;

			&-inner {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 4em;

				.img {
					min-width: 50%;
				}

				// &-desc {
				// 	// max-width: 50%;
				// }
			}
		}
	}

	.services {
		padding: 0;
		// position: relative;

		.services-inner {
			display: grid;
			padding: 2em;
		}

		@media screen and (min-width: 800px) {
			padding: 2em;

			&-inner {
				grid-template-columns: repeat(3, auto);
				grid-gap: 2.5em;
			}
		}
	}

	.testimonials {
		background: #1e3856;
		color: white;
		padding-bottom: 4em;

		&-inner {
			background: $primary;
			padding: 2em;

			@media screen and (min-width: 800px) {
				p {
					padding-right: 3em;
				}
			}
		}
	}

	.our-team {
		margin-top: 4em;
		.section-title {
			padding: 0;
			// text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			// letter-spacing: 0.39em;
		}

		&-card-wrapper {
			padding: 2em;
			.team-card {
				margin-bottom: 2em;
				position: relative;
				&-overlay {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						background: rgba(22, 42, 62, 0.5);
						backdrop-filter: blur(1.5px);
						transition: all ease-in-out 0.4s;
					}

					&-inner {
						// border: 1px solid red;
						color: white;
						font-size: 1.5rem;
						i {
							color: white;
							font-size: 1.5rem;
						}
						.team-socials-wrapper {
							display: flex;
							justify-content: center;
							gap: 1em;
						}
					}
				}

				@media screen and (min-width: 800px) {
					margin-bottom: 0;
				}
			}

			@media screen and (min-width: 800px) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 5px;
			}
		}
	}

	.contact-us {
		&-inner {
			.locate-us {
				display: flex;
				flex-direction: column;
				flex: 1;

				&-contact-details {
					i {
						margin-right: 0.7em;
						// all: unset;
						color: $secondary;
						// fill: 1px solid $secondary;
					}
				}
				.google-map-container {
					flex: 1;
				}
			}

			.message-us {
				form {
					input {
						height: 60px;
					}

					input,
					textarea {
						display: block;
						width: 100%;
						background: #f2f9ff;
						// box-shadow: 12px 11px 6px rgba(0, 0, 0, 0.1);
						padding: 1em;
						margin-bottom: 2em;
						border: none;
						outline: none;
					}

					button {
						height: 50px;
					}
				}
			}

			@media screen and (min-width: 800px) {
				display: flex;
				gap: 5em;
			}
		}

		// @media screen and (min-width: 800px) {
		// 	form {
		// 		padding-left: 8em;
		// 		padding-right: 8em;
		// 	}
		// }
	}
}
