@import "./variables";
@import "./utils";
@import "./grid.scss";
@import "./header.scss";
@import "./home.scss";

// Front Layout

.front {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .children {
    flex: 1;
  }
}