.testimonials {
	padding: 1em;
	background: white;
	// min-height: 370px;
	overflow: hidden;
	position: relative;

	.slider-wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}

	.slide {
		padding: 2em;
		width: 100%;
		grid-row-start: 1;
		grid-column-start: 1;

		.testifier-avi {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			overflow: hidden;
		}
		.testimony {
			font-size: 2rem;
		}
	}

	.next,
	.previous {
		position: absolute;
		top: 50%;
		color: $secondary;
		font-size: 1.8rem;
		cursor: pointer;
	}
	.next {
		right: 20px;
	}
	.previous {
		left: 20px;
	}
}
