.register {
	background: red;
	display: flex;
	padding: 2rem;
	justify-content: center;
	.regContainer {
		background: blue;
		margin-top: 10vh;
		padding: 2rem;
		width: 100%;
		max-width: 700px;

		.form {
			display: flex;
			flex-direction: column;
			width: 50%;
			border: 2px solid black;
			input {
				margin-bottom: 0.5rem;
				outline: none;
				border: none;
				padding: 0.5rem;
				background: #f1e9e9;
				border-radius: 4px;
				font-weight: 400;
			}

			select {
				padding: 0.5rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}
