.training-page {
	img {
		height: 100%;
		width: 100%;
		cursor: pointer;
	}

	.page-alerts {
		border: 1px solid $secondary;

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.ongoing-training {
		margin-bottom: 4em;
		margin-top: 4em;

		&-ads {
			position: relative;
			height: 90vh;

			button {
				margin-bottom: 5em;
			}

			&:hover {
				.training-overlay {
					animation: 0.8s reveal-to-top forwards;
				}
			}

			@media screen and (min-width: 992px) {
				max-width: 50%;
			}
		}
	}

	.prev-training {
		&-inner {
			@media screen and (min-width: 992px) {
				display: flex;
				gap: 4rem;

				.prev-img {
					min-width: 50%;
				}
			}
		}

		.prev-img {
			height: 90vh;
			position: relative;
			&:hover {
				.training-overlay {
					animation: 0.8s reveal-to-top forwards;
				}
			}
		}
	}

	.training-overlay {
		position: absolute;
		width: 100%;
		height: 0;
		bottom: 0;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.3);

		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.training-overlay_inner {
		background: white;
		margin-bottom: 5em;
		width: 80%;
		padding: 1em 3em;

		.to-testimonials {
			cursor: pointer;
		}
	}
}
