.header {
	width: 100%;
	height: 85vh;
	// @include bgImage("/images/hero4.jpg");
	// background-color: #00000099;
	// @include flexCenter;
	color: $light;
	background-position-y: top;

	&__content {
		text-align: center;

		&-buttons {
			display: flex;
			gap: 2rem;
			justify-content: center;
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

		&-buttons .btn_1 {
			background-color: $primary;
			color: $light;
			@include stylesA;
		}
		&-buttons .btn_2 {
			background-color: transparent;
			border: 2px solid $light;
			color: $light;
			@include stylesB;
		}
	}

	&__content-h1 {
		font-size: 50px;
		margin-top: 150px;
		margin-bottom: 20px;
		letter-spacing: 1px;
		font-weight: 200;
	}
}
